.container {
  padding-top: 24px;
}

.loadMore {
  background-color: transparent;
  color: var(--main-color-black);
  font-weight: 600;
  border: none;
  width: 156px;
  padding: 12px 0px;
  line-height: 1.25;
  border: 1px solid var(--button-color);
  border-radius: 12px;
  transition: border var(--transition);
  margin: 0 auto;
  margin-top: 60px;
}

.loadMore:hover,
.loadMore:focus {
  border: 1px solid var(--button-hover-color);
}

.textError {
  text-align: center;
}
